@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
  margin-top: 36px;
  text-align: center;
}

form {
  width: 35vw;
  display: flex;
  padding: 20px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 16px;
  border: 1px solid black;
  border-radius: 8px;
}

label {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  width: 60%;
  padding: 6px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 80%;
}

button {
  border: 1px solid black;
  background: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 20px;
  height: 60px;
  width: 60px;
}
